/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1b2838;
    color: #c7d5e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #171a21;
    color: #66c0f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: #66c0f4;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Sidebar Styles */
.sidebar {
    background-color: #171a21;
    color: #c7d5e0;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    float: left;
}

.sidebar h2 {
    color: #66c0f4;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #c7d5e0;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #66c0f4;
}


.info-section {
    background-color: #2a475e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-section h2 {
    color: #66c0f4;
    margin-top: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #1b2838;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    min-width: 250px;
}

.card h3 {
    color: #66c0f4;
    margin-top: 0;
}

.card p {
    color: #c7d5e0;
}

.card small {
    color: #c7d5e0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-bottom: 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}
